@use 'src/styles/constants/colors';
@use 'src/styles/mixins/flexbox';

.wrapper {
  @include flexbox.flexbox(center, start);
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-size: 10px;
  list-style: none;

  .itemContainer {
    @include flexbox.flexbox(start, start);
    column-gap: 5px;
    width: 280px;

    li {
      padding: 3px 7px;
      font-weight: 700;
      background-color: colors.$GRAYF1;
      border-radius: 15px;

      &:first-child {
        background-color: colors.$HASHTAG;
      }
    }
  }

  &::after {
    display: block;
    width: 100%;
    margin: 25px auto;
    margin-bottom: 10px;
    content: '';
    border-bottom: 1.5px solid colors.$GRAYD;
  }
}
