@use 'src/styles/constants/colors';
@use 'src/styles/constants/sizes';
@use 'src/styles/mixins/flexbox';

.wrapper {
  @include flexbox.flexbox(center,start);
  position: relative;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
  padding: 20px;
  padding-top: 40px;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 16%) 0 1px 4px;

  svg {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 45px;
    height: 45px;
  }

  .tagNameContainer {
    @include flexbox.flexbox(center,start);
    flex-direction: column;
    row-gap: 5px;
    font-size: 16px;
    font-weight: 600;

    .tagIndex {
      font-size: sizes.$MEDIUM;
      font-style: italic;
      font-weight: 700;
      color: colors.$GRAY3;
    }
  }
}
