@use 'src/styles/constants/colors';
@use 'src/styles/mixins/flexbox';

.wrapper {
  @include flexbox.flexbox(center,start);
  flex-direction: column;
  row-gap: 8px;
  font-size: 13px;

  .currentContainer {
    font-size: 12px;
    color: colors.$GRAY3;
  }

  .standardContainer {
    font-size: 11px;
    color: colors.$GRAYA;
  }
}
